.container {
    display: "flex";
    justify-content: "space-between";
}

.item {
    margin: 0.5rem 0;
    color: #4a5555;
    display: "flex";
    justify-content: "space-between";
    font-size: 1.25rem;
    padding-bottom: 0.1rem;
    border-bottom: 2px solid teal;
}